certifi
cffi
chardet
click
Flask
Flask-SocketIO
gevent
gevent-websocket
greenlet
idna
itsdangerous
Jinja2
MarkupSafe
pycparser
python-engineio
python-socketio
requests
six
urllib3
websocket-client
Werkzeug
zope.event
zope.interface
sqlalchemy
mysql-connector-python
numpy
bcrypt
flask-cors